[workspace]
resolver = "2"
members = ["airplay", "examples/*"]

# TODO : temporarily, because of unsupported int enum tags
[patch.crates-io]
serde = { git = "https://github.com/Astavie/serde.git", branch = "integer-tags-for-enums" }
